####
## Airflow v3 DAG: process raw json -> parquet
## Mario Caesar // caesarmario87@gmail.com
####

# -- Imports: Airflow core, operators, and Python stdlib
from airflow import DAG
from airflow.models import Variable
from airflow.operators.empty import EmptyOperator
from airflow.operators.python import PythonOperator
from airflow.utils.task_group import TaskGroup
from airflow.operators.trigger_dagrun import TriggerDagRunOperator

from datetime import datetime, timedelta

# Import process scripts
{% for name in processes %}
from scripts.process.process_{{ name }} import run as run_{{ name }}
{% endfor %}

# -- DAG-level settings: job name, schedule, and credentials
job_name        = "weather_json_to_parquet"
duration        = "daily"
minio_creds     = Variable.get("minio_creds")

default_args = {
    "owner"             : "caesarmario87@gmail.com",
    "depends_on_past"   : False,
    "start_date"        : datetime(2025, 5, 1),
    "retries"           : 1,
    "max_active_runs"   : 1,
    "retry_delay"       : timedelta(minutes=2),
}

dag = DAG(
    dag_id            = f"02_dag_{job_name}_{duration}",
    default_args      = default_args,
    catchup           = False,
    max_active_runs   = 1,
    tags              = ["etl", "weather_data_engineering", f"{duration}"]
)

# -- Tasks: start, extract transform, parquet staging, end
# Dummy Start
task_start = EmptyOperator(
    task_id="task_start",
    dag=dag
)

# Extract & transform JSON to Parquet files
with TaskGroup("extract_transform", tooltip="JSON→Parquet", dag=dag) as extract_group:
    {% for name in processes %}
    process_{{ name }} = PythonOperator(
        task_id="process_{{ name }}",
        python_callable=run_{{ name }},
        {% raw %}
        op_kwargs={
            "exec_date": "{{ dag_run.conf.get('exec_date', macros.ds_add(ds, 1)) }}"
        },
        {% endraw %}
        dag=dag,
    )

    {% endfor %}

# Trigger next DAG
trigger_process = TriggerDagRunOperator(
    task_id         = "trigger_parquet_staging_dag",
    trigger_dag_id  = "03_dag_weather_load_parquet",
    {% raw %}
    conf            = {
                        "exec_date": "{{ dag_run.conf.get('exec_date', macros.ds_add(ds, 1)) }}"
                    },
    {% endraw %}
    dag             = dag
)

# Dummy End
task_end = EmptyOperator(
    task_id="task_end",
    dag=dag
)

# -- Define execution order
task_start >> extract_group >> trigger_process >> task_end