# Byte-compiled / optimized / DLL files
**/__pycache__/
**/*.py[cod]
*$py.class
utils/__pycache__/etl_utils.cpython-312.pyc
utils/__pycache__/validation_utils.cpython-312.pyc
utils/__pycache__/logging_utils.cpython-312.pyc
.vscode/

# Logs
*.log
*.py.log
airflow/logs/

# Sensitive files
.env
dev_notes.txt